@using System.Globalization
@model OCMovers_MC4.Models.CustomerEstimates

@{
    var name = @Model.CustomerName;
    var temp = name.Split(' ');
    
    TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;
    var firstName = textInfo.ToTitleCase(temp[0]);
}

<style>
    body {font-family: "arial";font-size: 12px;}
</style>


<div class="admin">

    <p>Hello @firstName,<p>

    <p>Thank you for contacting Old City Movers!</p>

    @Html.Raw(Model.IntroText)

    <p>
        <b>
            Old City Movers Office Hours: Monday – Friday: 8:00am to 4:00pm
        </b>
    </p>

    <p><b>Estimate for:</b></p>

    <p>
        @textInfo.ToTitleCase(@Model.CustomerName)<br>
        @{
            var phone = @Model.PhoneNumber.Replace("-", "").Replace("(", "").Replace(")", "").Replace(" ", "").Trim();
        }
        @String.Format("{0:###-###-####}", Convert.ToInt64(@phone))
    </p>

    @if (!string.IsNullOrEmpty(@Model.MoveDate.ToString()))
    {
        <p><b>POSSIBLE MOVE DATE:</b> @Model.MoveDate.ToString("D")</p>
    }
    
    @if (!string.IsNullOrEmpty(@Model.ArrivalTime))
    {
        <p><b>CREW ESTIMATED ARRIVAL:</b> @Model.ArrivalTime</p>
    }

    @if (!string.IsNullOrEmpty(@Model.ArrivalText))
    {
        @Html.Raw(Model.ArrivalText)
    }

    @if (!string.IsNullOrEmpty(@Model.Start))
    {
        <p><b>START:</b> @Model.Start</p>
    }

    @if (!string.IsNullOrEmpty(@Model.End))
    {
        <p><b>END:</b> @Model.End</p>
    }

    @if (!string.IsNullOrEmpty(@Model.HourlyRateText))
    {
        <p><b>HOURLY RATE</b></p>
        @Html.Raw(@Model.HourlyRateText)
    }

    @if (!string.IsNullOrEmpty(@Model.TravelTimeText))
    {
        <p><b>TRAVEL TIME:</b> @Html.Raw(Model.TravelTimeText)</p>
    }

    @if (!string.IsNullOrEmpty(@Model.Fuel))
    {
        <p><b>FUEL:</b> @Model.Fuel</p>
    }

    @if (!string.IsNullOrEmpty(@Model.Tolls))
    {
        <p><b>TOLLS:</b> @Model.Tolls</p>
    }

    @if (!string.IsNullOrEmpty(@Model.ParkingPermits))
    {
        <p><b>PARKING PERMITS:</b></p>

        @Html.Raw(@Model.ParkingPermits)
    }
        
    @if (!string.IsNullOrEmpty(@Model.HoursEstimate))
    {
        <p><b>HOURS ESTIMATE:</b>
        </p>

        @Html.Raw(@Model.HoursEstimate)
    }

    @if (!string.IsNullOrEmpty(@Model.TotalEstimate))
    {
        <p><b>TOTAL ESTIMATE:</b>
        </p>

        @Html.Raw(@Model.TotalEstimate)
    }

    <h2 style="border-bottom: 1px solid black; width: 100%; padding-bottom: 5px; margin-top: 25px;">POLICIES</h2>

    @if (!string.IsNullOrEmpty(@Model.ReadPoliciesText))
    {
        @Html.Raw(@Model.ReadPoliciesText)
    }
    
    @if (!string.IsNullOrEmpty(@Model.ParkingPermits))
    {
        <p><b>PARKING PERMITS:</b>
        </p>

        @Html.Raw(@Model.ParkingPermits)
    }

    @if (!string.IsNullOrEmpty(@Model.ResponsibleText))
    {
        <p><b>TO DO OUR JOB RESPONSIBLY:</b>
        </p>
        @Html.Raw(@Model.ResponsibleText)
    }
    
    @if (!string.IsNullOrEmpty(@Model.ElevatorText))
    {
        <p><b>ELEVATOR RESTRICTIONS:</b>
        </p>

        @Html.Raw(@Model.ElevatorText)
    }
    
    @if (!string.IsNullOrEmpty(@Model.MattressCoverText))
    {
        <p><b>MATTRESS COVERS AND WARDROBE BOXES:</b>
        </p>

        @Html.Raw(@Model.MattressCoverText)
    }

    @if (!string.IsNullOrEmpty(@Model.StormText))
    {
        <p><b>STORMS/ NATURAL DISASTERS:</b>
        </p>

        @Html.Raw(@Model.StormText)
    }

    @if (!string.IsNullOrEmpty(@Model.CancellationText))
    {
        <p><b>CANCELLATION/ RE-SCHEDULING FEE:</b>
        </p>

        @Html.Raw(@Model.CancellationText)
    }

    @if (!string.IsNullOrEmpty(@Model.PaymentsText))
    {
        <p><b>PAYMENT OPTIONS:</b>
        </p>

        @Html.Raw(@Model.PaymentsText)
    }
    
    <p><b>PLEASE BE SURE TO READ ALL OF OUR POLICES WHICH ARE ATTACHED AS A .PDF FILE.</b></p>

    <p>
        <span>Best,</span><br>
        <span>@Model.RepName</span><br>
        <span>Old City Movers</span><br>
        <span>267-205-5209</span><br>
        <span>oldcitymovers@oldcitymovers.com</span><br />

    </p>
</div>