@model OCMovers_MC4.Models.RegisterModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/WeMoveIt/Views/Shared/_Layout.cshtml";
}

<div class="admin">

    <h2>Create</h2>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.PasswordFor(model => model.ConfirmPassword, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
      
            <div class="save-cancel form-group">
                <ul>
                    <li><a href="@Url.RouteUrl("Users")">Cancel</a></li>
                    <li><input type="submit" value="Save" class="btn"/></li>
                </ul>
            
            </div>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
</div>

</div>