@model OCMovers_MC4.Models.UserProfile

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/WeMoveIt/Views/Shared/_Layout.cshtml";
}

<div class="admin">

    <h2>Edit</h2>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary()

        <fieldset>

            @Html.HiddenFor(model => model.UserId)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.UserName)
            </div>           

            <div class="form-group checkbox">
                @Html.LabelFor(model => model.Active)
                @Html.CheckBoxFor(model => model.Active, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.Active)
            </div>
            
            @Html.HiddenFor(x=>x.UserId)
            <input type="hidden" name="EmailAddress" value="no@noasd.com"/>

            <div class="save-cancel form-group">
                <ul>
                    <li><a href="@Url.RouteUrl("Users")">Cancel</a></li>
                    <li><input type="submit" value="Save" class="btn"/></li>
                </ul>
            
            </div>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>