@model OCMovers_MVC4.Models.InventoryItem

@{
    ViewBag.Title = "Edit";
	Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<div class="admin">

<h2>Edit Inventory Item</h2>

	

	@using (Html.BeginForm()) {
		@Html.ValidationSummary(true)
		<fieldset>

			@Html.HiddenFor(model => model.InventoryItemID)

			<div class="editor-label">
				@Html.LabelFor(model => model.inventoryItem)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.inventoryItem)
				@Html.ValidationMessageFor(model => model.inventoryItem)
			</div>

			<div class="btn-submit">
				<input type="submit" value="Save" class="btn text" />
			</div>
		</fieldset>
	}

	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
</div>